# Database
quarkus.datasource.db-kind=postgresql
quarkus.datasource.username=seu_usuario
quarkus.datasource.password=sua_senha
quarkus.datasource.reactive.url=postgresql://localhost:5432/2026_seplag_db
quarkus.datasource.jdbc.url=jdbc:postgresql://localhost:5432/2026_seplag_db

# JWT
mp.jwt.verify.publickey.location=resource:publickey.pem
mp.jwt.verify.issuer=https://venhaserjava.org/issuer
